:root {
    --mainColor: #68d5f7;
}

html, body {
    margin: 0px;
    background-color: #f5f5f5;
    font-family: arial, sans-serif;
    overflow:visible;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #339DFF;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

a {
    color: white;
}

.SuggestionsBaner {
    position: relative;
    background-image: url("freeShipBackground.jpg");
    width: 100%;
    height: 300px;
    top: 226px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.newsletterDiv {
    position: relative;
    height: 300px;
    top: 500px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url("newsletterBaner1.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.bestSellersDiv {
    position: relative;
    height: 350px;
    top: 600px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: red;
}

.lastWatchedProductsDiv {
    position: relative;
    height: 350px;
    top: 700px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: red;
}

.theNewestProductsDiv {
    position: relative;
    height: 350px;
    top: 800px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: red;
}

.ContactUsDiv {
    position: relative;
    height: 500px;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgb(236, 239, 241);
    border-top-style: solid;
    border-color: #339DFF;
    border-top-width: 3px;
}

.SelectSugeestionButtons {
    visibility: hidden;
}

.headerDiv {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.25);
    border-left: none;
    border-right: none;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
}

#coinIconID {
    background-image: url("coin.svg");
}

#chatIconID {
    background-image: url("chat-left-text.svg");
}

#starIconID {
    background-image: url("star.svg");
}

#bellIconID {
    background-image: url("bell.svg");
}

#cartIconID {
    background-image: url("cart2.svg");
}

#accountIconID {
    background-image: url("person-circle.svg");
}

.SelectSugeestionButtons {
    position: relative;
    background-color: white;
    height: 35px;
    border: none;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: white;
    top: 300px;
    width: 25%;
    visibility: visible;
    cursor: pointer;
}

.SelectSugeestionButtons:first-child, :not(.SelectSugeestionButtons) + .SelectSugeestionButtons {
    border-top-color: #2ba3ff;
}

.logInMenu {
    position: fixed;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    left: 999em;
    top: 75px;
    z-index: 1000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgba(127, 221, 245, 1);
    background-image: linear-gradient(180deg, rgba(127, 221, 245, 1) 0%, rgba(38, 137, 237, 1) 100%);
}

.logInMenuArrow {
    position: relative;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    left: 86%;
    top: -3%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    border-right: none;
    background-color: rgba(127, 221, 245, 1);
}

#MainTitleLoginMenu {
    font-weight: 700;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1.5px rgb(0, 0, 0, 0.4);
}

#SmallTextLoginMenu {
    position: relative;
    top: 3%;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.4);
}

#LoginMenuParting {
    width: 75%;
    height: 2px;
    margin-left: 12.5%;
    background-color: rgb(49, 112, 221);
}

#logInButton {
    position: relative;
    top: 8%;
    border: none;
    display: inline-block;
    background: #fff;
    color: #339DFF;
    text-decoration: none;
    font-size: 13px;
    line-height: 38px;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
  
#logInButton:hover {
    box-shadow: 0 7px 7px rgba(83, 100, 255, 0.32);
}

#SingUpTitleLoginMenu {
    position: relative;
    top: 15%;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.4);
    font-size: 12px;
}

.dotHeader {
    position: relative;
    width: 25px;
    height: 25px;
    background: rgb(8,123,170);
    background: linear-gradient(-125deg, rgba(8,123,170,1) 0%, rgba(33,148,255,1) 100%);
    top: -35px;
    border-radius: 55px;
}

.categoryHeaderText {
    margin-top: -60px;
    margin-left: 40px;
    font-weight: bold;
    color: #053850;
}

.contactUsTitle {
    color: #59afff;
    text-align: center;
    margin-top: -3.925vw;
    font-size: 6vw;
    -webkit-text-stroke: 0.25vw #0084ff;
}









@media screen and (min-width: 1286px) {
    .SuggestionsBaner {
        position: absolute;
        width: 1280px;
    }

    .newsletterDiv {
        width: 1280px;
        top: 500px;
    }

    .bestSellersDiv {
        width: 1280px;
        top: 600px;
    }

    .lastWatchedProductsDiv {
        width: 1280px;
    }

    .theNewestProductsDiv {
        width: 1280px;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1285px) {
    .SelectSugeestionButtons {
        top: 23vw;
    }
    .SuggestionsBaner {
        top: 226px;
    }
    .newsletterDiv {
        top: 200px;
    }
    .bestSellersDiv {
        top: 300px;
    }

    .lastWatchedProductsDiv {
        top: 400px;
    }

    .theNewestProductsDiv {
        top: 500px;
    }

    .ContactUsDiv {
        top: 700px;
    }
}










@media screen and (min-width: 1019px) {
    .headerDivLogo {
        width: 150px;
        margin-left: -18px;
        cursor: pointer;
    }

    .headerDivSearch {
        width: 25%;
        min-width: 100px;
        height: 35px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        margin-left: 65px;
        padding: 0px;
        padding-left: 5px;
    }

    .headerDivCategorySelect {
        height: 37px;
        width: 10%;
        min-width: 160px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        border-left: none;
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    select.headerDivCategorySelect {
        background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, var(--mainColor), var(--mainColor));
        background-position:
        calc(100% - 16px) calc(1em + 1px),
        calc(100% - 8.1px) calc(1em + 1px),
        calc(100% - 32px) 8px;
        background-size:
        8px 8px,
        8px 8px,
        1.5px 1.5em;
        background-repeat: no-repeat;
        padding-left: 2px;
    }

    input:focus, select:focus {
        outline: none;
    }

    .headerDivSearchButton {
        border: none;
        height: 37px;
        background-color: var(--mainColor);
        width: 80px;
        color: white;
        cursor: pointer;
    }

    .headerDivIcons {
        width: 23px;
        height: 23px;
        margin-left: 20px;
        cursor: pointer;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
    }

    .headerDivIcons:first-child, :not(.headerDivIcons) + .headerDivIcons {
        margin-left: 65px;
    }
    
    .categoryHeaderText {
        margin-top: -61px;
        margin-left: 40px;
        font-weight: bold;
        color: #053850;
    }

    .blueLineHeader {
        width: 67.5vw;
        max-width: 950px;
        height: 3px;
        background-color: #339DFF;
        margin-top: -33px;
        margin-left: 325px;
    }
    .dotHeader {
        margin-left: 4px;
    }
}













@media screen and (max-width: 1018px) and (min-width: 557px) {
    .headerDivLogo {
        width: 0px;
    }

    .headerDivSearch {
        width: 20%;
        min-width: 60px;
        height: 35px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        margin-left: 1px;
        padding: 0px;
        padding-left: 5px;
    }

    .headerDivCategorySelect {
        height: 37px;
        width: 10%;
        min-width: 160px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        border-left: none;
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    select.headerDivCategorySelect {
        background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, var(--mainColor), var(--mainColor));
        background-position:
        calc(100% - 16px) calc(1em + 1px),
        calc(100% - 8.1px) calc(1em + 1px),
        calc(100% - 32px) 8px;
        background-size:
        8px 8px,
        8px 8px,
        1.5px 1.5em;
        background-repeat: no-repeat;
        padding-left: 2px;
    }

    input:focus, select:focus {
        outline: none;
    }

    .headerDivSearchButton {
        border: none;
        height: 37px;
        background-color: var(--mainColor);
        width: 50px;
        padding: 0px;
        font-size: 11px;
        color: white;
        cursor: pointer;
    }

    .headerDivIcons {
        width: 23px;
        height: 23px;
        margin-left: 10px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
    }

    .headerDivIcons:first-child, :not(.headerDivIcons) + .headerDivIcons {
        margin-left: 15px;
    }

    .blueLineHeader {
        width: 50.5vw;
        max-width: 700px;
        height: 3px;
        background-color: #339DFF;
        margin-top: -29px;
        margin-left: 275px;
    }

    .dotHeader {
        width: 20px;
        height: 20px;
        top: -25px;
        margin-left: 4px;
    }
    
    .categoryHeaderText {
        margin-top: -46px;
        margin-left: 30px;
        font-size: 20px;
    }
    .SelectSugeestionButtons {
        top: 23vw;
    }
    .newsletterDiv {
        top: 10vw;
        height: 23.5vw;
    }
    .bestSellersDiv {
        top: 20vw;
        height: 32vw;
    }
    .lastWatchedProductsDiv {
        top: 30vw;
        height: 32vw;
    }
    .theNewestProductsDiv {
        top: 40vw;
        height: 32vw;
    }
    .ContactUsDiv {
        top: 65vw;
        height: 48vw;
    }
}











@media screen and (max-width: 556px) and (min-width: 408px) {
    .headerDivLogo {
        width: 100px;
        margin-left: -18px;
        cursor: pointer;
    }

    .headerDivSearch {
        width: 25%;
        min-width: 70px;
        height: 35px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        margin-left: 1px;
        padding: 0px;
        padding-left: 5px;
    }

    .headerDivCategorySelect {
        position: absolute;
        left: 999em;
        height: 0px;
        width: 0px;
        border: none;
    }

    select.headerDivCategorySelect {
        background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, var(--mainColor), var(--mainColor));
        background-position:
        calc(100% - 16px) calc(1em + 1px),
        calc(100% - 8.1px) calc(1em + 1px),
        calc(100% - 32px) 8px;
        background-size:
        8px 8px,
        8px 8px,
        1.5px 1.5em;
        background-repeat: no-repeat;
        padding-left: 2px;
    }

    input:focus, select:focus {
        outline: none;
    }

    .headerDivSearchButton {
        border: none;
        height: 37px;
        background-color: var(--mainColor);
        width: 50px;
        padding: 0px;
        font-size: 11px;
        color: white;
        cursor: pointer;
    }

    .headerDivIcons {
        margin-left: 0px;
        min-width: 23px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
    }

    .headerDivIcons:first-child, :not(.headerDivIcons) + .headerDivIcons {
        margin-left: 6px;
    }

    .SelectSugeestionButtons {
        position: relative;
        background-color: white;
        height: 35px;
        border: none;
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: white;
        top: 100%;
        width: 25%;
        visibility: visible;
        cursor: pointer;
        font-size: 9.5px;
    }

    .blueLineHeader {
        width: 31%;
        height: 3px;
        background-color: #339DFF;
        margin-top: -28px;
        margin-left: 270px;
    }

    .dotHeader {
        width: 20px;
        height: 20px;
        top: -25px;
        margin-left: 4px;
    }
    
    .categoryHeaderText {
        margin-top: -46px;
        margin-left: 30px;
        font-size: 20px;
    }

    .SelectSugeestionButtons {
        top: 23vw;
    }
    .newsletterDiv {
        top: 0vw;
        height: 23.5vw;
    }
    .bestSellersDiv {
        top: 15vw;
        height: 32vw;
    }
    .lastWatchedProductsDiv {
        top: 30vw;
        height: 32vw;
    }
    .theNewestProductsDiv {
        top: 45vw;
        height: 32vw;
    }
    .ContactUsDiv {
        top: 78vw;
        height: 48vw;
    }
}












@media screen and (max-width: 407px) {
    .headerDivLogo {
        width: 90px;
        margin-left: -8px;
        margin-top: -35px;
        cursor: pointer;
    }

    .headerDivSearch {
        position: absolute;
        width: 72%;
        min-width: 70px;
        height: 35px;
        border-width: 1px;
        border-color: rgba(0,0,0,0.25);
        margin-top: 28px;
        left: 40%;
        padding: 0px;
        padding-left: 5px;
        transform: translate(-50%, 0%);
    }

    .headerDivCategorySelect {
        position: absolute;
        left: 999em;
        height: 0px;
        width: 0px;
        border: none;
    }

    input:focus, select:focus {
        outline: none;
    }

    .headerDivSearchButton {
        position: absolute;
        border: none;
        height: 37px;
        background-color: var(--mainColor);
        width: 21%;
        padding: 0px;
        font-size: 11px;
        color: white;
        cursor: pointer;
        margin-top: 28px;
        left: 76%;
    }

    .headerDivIcons {
        margin-left: 1px;
        min-width: 23px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        margin-top: -35px;
    }

    .headerDivIcons:first-child, :not(.headerDivIcons) + .headerDivIcons {
        margin-left: 15px;
    }

    .SelectSugeestionButtons {
        position: relative;
        background-color: white;
        height: 35px;
        border: none;
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: white;
        top: 100%;
        width: 25%;
        visibility: visible;
        cursor: pointer;
        font-size: 7.5px;
    }

    .logInMenu {
        top: 45px;
    }
    
    .logInMenuArrow {
        left: 84.5%;
        top: -3%;
    }

    .blueLineHeader {
        width: 35%;
        height: 3px;
        background-color: #339DFF;
        margin-top: -17px;
        margin-left: 165px;
    }

    .dotHeader {
        width: 15px;
        height: 15px;
        top: -16px;
        margin-left: 4px;
    }
    
    .categoryHeaderText {
        margin-top: -30px;
        margin-left: 23px;
        font-size: 12px;
    }

    .SelectSugeestionButtons {
        top: 23vw;
    }
    .newsletterDiv {
        top: -17vw;
        height: 23.5vw;
    }
    .bestSellersDiv {
        top: 0vw;
        height: 32vw;
    }
    .lastWatchedProductsDiv {
        top: 15vw;
        height: 32vw;
    }
    .theNewestProductsDiv {
        top: 30vw;
        height: 32vw;
    }
    .ContactUsDiv {
        top: 58vw;
        height: 48vw;
    }
}