.addNewProductContainer {
    width: 98%;
    max-width: 1280px;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 125px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.productGotImageContainer {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 15px;
    border-style: dashed;
    border-width: 2px;
}

.productGotImageContainer img {
    height: 100%;
}

.upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.productImageEditLabel {
    position: relative;
    display:inline-block;
    font-size: 16px;
    color: #00a790;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    margin-top: -45px;
    margin-left: 115px;
    width: 8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    line-clamp: 2;
    box-orient: vertical;
    text-align: left;
 }

 .productImageDeleteLabel {
    position: relative;
    display:inline-block;
    font-size: 16px;
    color: #bd0000;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    margin-left: 115px;
    margin-top: -75px;
}

.boldLabel {
    margin-top: 25px;
    margin-left: 20px;
    display: inline-block;
    font-weight: 600;
}

.productValueInput, .categorySelect, .productDescriptionArea {
    margin-left: 20px;
    margin-top: 5px;
    height: 2.5rem;
    width: 90%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.productPropertyContainer {
    margin-top: 5px;
    margin-left: 20px;
}

.propertyType, .propertyTypeValue {
    max-width: 135px;
    width: 35%;
    height: 2.5rem;
    text-indent: 5px;
}

.propertyTypeValue {
    margin-right: 0px;
}

#boldColon {
    font-weight: 600;
    font-size: 1.5rem;
}

.deleteProperyLabel {
    position: relative;
    display:inline-block;
    font-size: 16px;
    color: #bd0000;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

.categorySelect {
    width: auto;
}

.productDescriptionArea {
    height: 10rem;
    min-width: 90%;
    min-height: 10rem;
    max-width: 90%;
    max-height: 10rem;
}