.orderForm {
    position: relative;
    width: 1280px;
    margin: auto;
    margin-top: 125px;
}

.shippingAdresDiv, .shippingMethodDiv, .paymentMethodDiv {
    background-color: white;
    padding-bottom: 20px;
}

.boldlabel {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    padding: 20px;
}

.TypeAdresButton {
    position: relative;
    left: 40px;
    top: 9px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
}

.shippingAdresButton {
    margin-left: 20px;
    width: 250px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    text-indent: 5px;
    border-color: black;
}

.shippingAdresButton:hover, .shippingAdresButton:focus {
    border-width: 2px;
}

.shippingMethodDiv, .paymentMethodDiv {
    position: relative;
    margin-top: 25px;
}

form input[type = "radio"] {
    position: relative;
    margin-left: 20px;
    margin-top: 25px;
}

.shippingCostlabel {
    position: relative;
    margin-left: 15px;
    font-weight: 600;
}

.shippingMethodLabelText {
    position: relative;
    top: -1px;
}

.paymentMethodContainer {
    position: relative;
    display: block;
    flex-direction: row;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 50px;
    cursor: pointer;
}

.paymentMethodContainer img {
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
    height: 25px;
}

.paymentMethodContainer label {
    position: relative;
    top: -8px;
    margin-left: 20px;
}

@media screen and (max-width: 1279px) {
    .orderForm {
        width: 98%;
    }
}