.searchedCategoryViewContainer {
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    line-height: 65px;
}

.searchedCategoryViewContainer:hover {
    background-color: #d9d9d9;
}

.categoryIdLabel {
    margin-left: 20px;
    display: inline-block;
    width: 2.75rem;
}

.categoryNameLabel {
    display: inline-block;
    margin-left: 20px;
    width: 14rem;
}

.categoryToEditLabel {
    display: inline-block;
    text-indent: 20px;
    cursor: pointer;
    color: #00a790;
    text-decoration: underline;
    font-weight: 600;
}

.categoryToDeleteDLabel, .categoryToDeleteDLabelDisabled {
    display: inline-block;
    text-indent: 20px;
    cursor: pointer;
    color: #bd0000;
    text-decoration: underline;
    font-weight: 600;
}

.categoryToDeleteDLabelDisabled {
    cursor: not-allowed;
}