.cartItemMainDiv {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.cartItemMainDiv img {
    position: relative;
    width: 13.5%;
    height: 100%;
}

.cartItemTitle {
    position: relative;
    text-transform: uppercase;
    width: 47%;
    height: 39%;
    top: 35%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    line-clamp: 2;
    box-orient: vertical;
    font-size: 15px;
    left: 2%;
}

.cartItemMainDiv input[type = number] {
    position: relative;
    height: 25%;
    top: 37%;
    text-align: center;
    width: 5%;
    left: 5%;
}

.cartItemPrice {
    position: relative;
    width: 15%;
    height: 27%;
    top: 40%;
    left: 9%;
    font-size: 22px;
    display: inline-block;
}

.cartItemMainDiv input[type = submit] {
    position: relative;
    background-image: url("../../images/cartTrashIcon.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 36%;
    left: 310%;
}

@media screen and (min-width: 981px) and (max-width: 1135px) {
    .cartItemMainDiv {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }

    .cartItemTitle {
        width: 42%;
    }

    .cartItemPrice {
        font-size: 20px;
        width: 20%;
    }

    .cartItemMainDiv input[type = submit] {
        left: 200%;
    }
}

@media screen and (min-width: 821px) and (max-width: 980px) {
    .cartItemMainDiv {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    }

    .cartItemMainDiv img {
        width: 17%;
    }

    .cartItemTitle {
        width: 37%;
    }

    .cartItemPrice {
        font-size: 20px;
        width: 20%;
    }

    .cartItemMainDiv input[type = submit] {
        left: 200%;
    }
}

@media screen and (min-width: 727px) and (max-width: 820px) {
    .cartItemMainDiv {
        width: 98.5%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        height: 150px;
    }

    .cartItemMainDiv img {
        width: 20%;
    }

    .cartItemTitle {
        width: 37%;
        font-size: 28px;
        height: 42%;
    }

    .cartItemPrice {
        font-size: 29px;
        width: 20%;
        top: 44%;
    }

    .cartItemMainDiv input[type = number] {
        top: 42%;
    }

    .cartItemMainDiv input[type = submit] {
        width: 50px;
        height: 50px;
        left: 150%;
    }
}

@media screen and (min-width: 552px) and (max-width: 726px) {
    .cartItemMainDiv {
        width: 98.5%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        height: 150px;
    }

    .cartItemMainDiv img {
        width: 23%;
    }

    .cartItemTitle {
        width: 30%;
        font-size: 20px;
        height: 33%;
    }

    .cartItemPrice {
        font-size: 25px;
        width: 20%;
        top: 40%;
    }

    .cartItemMainDiv input[type = number] {
        top: 37%;
    }

    .cartItemMainDiv input[type = submit] {
        width: 45px;
        height: 45px;
        left: 160%;
        top: 36%;
    }
}

@media screen and (max-width: 551px) {
    .cartItemMainDiv {
        width: 98.5%;
    }

    .cartItemMainDiv img {
        width: 20%;
    }

    .cartItemTitle {
        width: 75%;
        height: 45%;
        top: 0%;
        font-size: 20px;
    }

    .cartItemMainDiv input[type = number] {
        position: absolute;
        left: 23%;
        top: 57%;
        float: left;
        width: 8%;
    }

    .cartItemPrice {
        position: absolute;
        font-size: 25px;
        width: 35%;
        left: 33%;
        top: 55.5%;
    }

    .cartItemMainDiv input[type = submit] {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 88%;
        top: 52.5%;
    }
}

@media screen and (min-width: 364px) and (max-width: 496px) {
    .cartItemMainDiv {
        width: 96.5%;
    }

    .cartItemMainDiv img {
        width: 22%;
    }

    .cartItemMainDiv input[type = number] {
        left: 25%;
    }

    .cartItemPrice {
        left: 35%;
    }

    .cartItemMainDiv input[type = submit] {
        left: 88%;
    }
}

@media screen and (max-width: 363px) {
    .cartItemMainDiv {
        width: 95%;
    }

    .cartItemMainDiv img {
        width: 27%;
    }

    .cartItemMainDiv input[type = number] {
        left: 30%;
    }

    .cartItemPrice {
        left: 41%;
        width: 50%;
        font-size: 22px;
        top: 58%;
    }

    .cartItemMainDiv input[type = submit] {
        left: 86%;
    }
}