.accountSettingsContainer {
    position: relative;
    width: 1280px;
    margin: auto;
    top: 125px;
}

.userInfoMainDiv {
    width: 96.1%;
    height: 250px;
    -webkit-box-shadow: inset 0px 0px 13px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 13px -2px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 13px -2px rgba(66, 68, 90, 1);
    padding: 2%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.mainTitleInUserInfoDiv {
    font-weight: 600;
    font-size: 20px;
}

.monetyTextInUserInfoDiv, .permissionsTextInUserInfoDiv {
    position: relative;
    background-color: #68d5f7;
    border-radius: 2px;
    width: 100%;
    height: 8%;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    color: white;
    text-shadow: 0 1px 4px black;
}

.permissionsTextInUserInfoDiv {
    margin-left: 65%;
    top: -8.5%;
    background-color: #25d692;
}

.separationDiv {
    position: relative;
    height: 100%;
    width: 1px;
    background-color: rgb(63, 63, 63, 0.5);
    margin-left: 25%;
}

.accountOldTimerText, .accountOldTimer {
    font-weight: 600;
    font-size: 20px;
}

.accountOldTimer {
    color: #00c3ff;
}

.mainUserSettingsDiv {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userSettings {
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.userSettings label:nth-child(1) {
    font-size: 23px;
    font-weight: 600;
}

.userSettings label:nth-child(3) {
    margin-top: 30px;
    display: inline-block;
    font-size: 15px;
}

.userSettings .slide_button {
    float: right;
    margin-top: 32px;
    border: 0;
    background-color: transparent;
    color: #00a790;
    cursor: pointer;
}

.userSettingsButton {
    position: relative;
    margin-top: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: calc(100% - 30px);
    border-radius: 15px;
    padding-left: 2%;
}

.saveFormButton {
    position: relative;
    margin-top: 10px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 40px;
    width: calc(101.5% - 20px);
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.saveFormButton:hover {
    background-color: rgba(223, 223, 223, 0.644);
}

.namePropertyToChange {
    margin-top: 30px;
    display: inline-block;
    font-size: 15px;
}

.userOrdersContainer {
    margin-top: 50px;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.userOrdersBoldText {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
}





@media screen and (min-width: 553px) and (max-width: 1279px) {
    .accountSettingsContainer {
        width: 96%;
    }
}

@media screen and (min-width: 347px) and (max-width: 552px) {
    .accountSettingsContainer {
        width: 96%;
    }

    .userInfoMainDiv {
        -webkit-box-shadow: inset 0px 0px 10px -2px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 0px 0px 10px -2px rgba(66, 68, 90, 1);
        box-shadow: inset 0px 0px 10px -2px rgba(66, 68, 90, 1);
        font-size: 80%;
        height: 200px;
    }

    .monetyTextInUserInfoDiv, .permissionsTextInUserInfoDiv {
        font-size: 80%;
        line-height: 15px;
        width: 70%;
    }

    .permissionsTextInUserInfoDiv {
        margin-left: 75%;
        top: -9%;
    }

    .accountOldTimerText, .accountOldTimer {
        font-size: 17px;
    }

}

@media screen and (max-width: 346px) {
    .accountSettingsContainer {
        width: 96%;
    }

    .userInfoMainDiv {
        -webkit-box-shadow: inset 0px 0px 7px -2px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 0px 0px 7px -2px rgba(66, 68, 90, 1);
        box-shadow: inset 0px 0px 7px -2px rgba(66, 68, 90, 1);
        font-size: 80%;
        height: 150px;
    }

    .monetyTextInUserInfoDiv, .permissionsTextInUserInfoDiv {
        font-size: 65%;
        line-height: 13px;
        width: 70%;
    }

    .permissionsTextInUserInfoDiv {
        margin-left: 75%;
        top: -10.5%;
    }

    .accountOldTimerText, .accountOldTimer {
        font-size: 14px;
    }
}