.cartMainContainer {
    position: relative;
    width: 1280px;
    margin: auto;
    top: 125px;
}

.cartItemsContainer {
    position: relative;
    width: 62.5%;
}

.cartItemsContainer div:last-of-type {
    margin-bottom: 250px;
}

.emptyFavoritesDiv {
    position: relative;
    top: 125px;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.emptyFavoritesDiv #boldLabel {
    font-weight: 600;
    font-size: 1.5rem;
}

.emptyFavoritesDiv img {
    width: 50%;
    max-width: 300px;
    margin-top: 25px;
}

@media screen and (min-width: 821px) and (max-width: 1279px) {
    .cartMainContainer {
        width: 97.5%;
    }
}

@media screen and (max-width: 820px) {
    .sideCartPanel {
        position: absolute;
        visibility: hidden;
    }

    .cartMainContainer {
        width: 98%;
    }

    .cartItemsContainer {
        width: 98%;
    }

}